.cont-card-b {
  border-radius: 5px;
  height: 100%;
  box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  width: 100%;
  /* max-width: 370px; */
}

.typeA1-cardb::after {
  content: "";
  background-color: #187ce2d5;
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.typeA1-cardb::before {
  content: "";
  background-image: url("../../resources/images/SAPTADN/bg-first-adnsap-man.webp");
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: -1;
}

.typeA2-cardb::after {
  content: "";
  background-color: #ffffffd5;
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.typeA2-cardb::before {
  content: "";
  background-image: url("../../resources/images/SapMitrabajos/bg-first-trabajos-man.webp");
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: -1;
}
.typeB1-cardb::after {
  content: "";
  background-color: #187ce2d5;
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.typeB1-cardb::before {
  content: "";
  background-image: url("../../resources/images/SAPTADN/bg-first-adnsap-woman.webp");
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: -1;
}

.typeB2-cardb::after {
  content: "";
  background-color: #ffffffd5;
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.typeB2-cardb::before {
  content: "";
  background-image: url("../../resources/images/SapMitrabajos/bg-first-trabajos-woman(1).jpg");
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: -1;
}
.titleA1-cardb {
  margin: 0;
  font-weight: 600;
  font-size: 25px;
  width: 180px;
  text-align: center;
  color: white;
}
.titleA2-cardb {
  margin: 0;
  color: var(--blue-primary);
  font-weight: 600;
  font-size: 25px;
  width: 180px;
  text-align: center;
}

.btn-comenzar-cardb {
  background-color: var(--blue-primary) !important;
  width: 150px !important;
  justify-content: center !important;
  height: 50px !important;
  border-radius: 5px !important;
  box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.15);
  color: white !important;
}
.btn-comenzar-cardb p {
  margin: 0;
}

.descA1-cardb {
  margin: 0;
  text-align: center;
  width: 250px;
  color: white;
}

.descA2-cardb {
  color: var(--gray-text);
  margin: 0;
  text-align: center;
  width: 250px;
}
