.perfil-1-emp {
  background-image: url("../../resources/empresas/ZAPTalent-Background-Anuncios.png");
}

.perfil-2-emp {
  background-image: url("../../resources/empresas/ZAPTalent-Background-Anuncios.png");
}
.perfil-3-emp {
  background-image: url("../../resources/empresas/ZAPTalent-Background-Anuncios.png");
}
.perfil-4-emp {
  background-image: url("../../resources/empresas/ZAPTalent-Background-Anuncios.png");
}

.perfil-5-emp {
  background-image: url("../../resources/empresas/ZAPTalent-Background-Anuncios.png");
}
