<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div> 
        <div style="width: 100%;  display: flex;align-items: center; justify-content: center;  background-color: red ;">
            <div style="background-color: rgb(255, 255, 255); box-shadow: whitesmoke;  display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 200px;
            width: 60%;
            box-shadow: rgba(243, 243, 243, 0.788) 2px 3px 2px 2px; 
            border-radius: 10px;
            ">
               
                <div > 
                <h3 style=" color: rgb(35, 86, 255); display: flex; align-items: center; justify-content: center; font-weight: 800; font-size: 25px;"><b>Estimado Usuario</b></h3>
                <p style="color: grey;display: flex; align-items: center; justify-content: center;">No te preocupes, si haces clicl en el siguiente</p>
                <p style="color: grey;display: flex; align-items: center; justify-content: center; ">boton, podrás restablecer tu contraseña</p>  
                <div style="display: flex;align-items: center; justify-content: center">
                        <a href="${confirmarUrl}"><button type="button" class="btn btn-primary" style="margin-left: 250px; background-color: rgb(49, 97, 255); margin: 10px; font-size: 14px; color: whitesmoke; border-radius: 5px; height: 35px; border: transparent; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">Activar mi cuenta</button> </a>
                </div>     
                </div>
               
              
            </div>
        </div>
       
            <p style="color: grey; font-weight: 800; ">® SAPTalent 2020 - Todos los derechos reservados</p>
            <p style="color: grey; font-weight: 800; ">Barros Borgoño #110 - Of 1003 Providencia, Santiago </p>
            <p style="color: grey; font-weight: 800; "> Teléfono + 562 323 6789</p>
            <img class="footer-help" src="../assets/images/SAPTalent/Logotipo-SAPTalent-original.svg" alt="">
     </div>
</body>
</html>



     