html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Restablece-Contrasena
body
  a(href=`${resetUrl}`)
    img(src='https://zaptalent.azurewebsites.net/public/imaemail/6Tu2_2nlK.png')
