.card-est-perfil {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px 20px;
  margin: 0 0 10px 0;
  position: relative;
}

.p1-card-est-perfil {
  color: var(--blue-primary);
  margin: 0;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.icon-card-est {
  color: var(--blue-primary);
  width: 20px !important;
  height: 20px !important;
}
.p2-card-est-perfil {
  color: var(--blue-primary);
  margin: 0;
  margin: 10px 0;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.cont-exp-card-est {
  background-color: var(--light-blue);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
}

.cont-exp-card-est p {
  margin: 0;
  font-size: 12px;
}

.left-card-est {
  position: absolute;
  height: 100%;
  right: 20px;
  /* background-color: rosybrown; */
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-card-est {
  background-color: var(--blue-primary) !important;
  color: white !important;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  width:  40px !important ;
  height: 40px !important ;
}
