.cont-form-edit-perfil {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cont-form-edit-perfil p {
  margin: 0;
}

.top-edit-perfil {
  flex: 6;
  padding: 0 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.item-edit-perfil {
  flex: 1;
}
.bottom-edit-perfil {
  flex: 1;
  display: flex;
  padding-right: 30px;
  justify-content: flex-end;
  align-items: center;
}


