.cont-adnsap-home-emp {
  /* background-color: green; */
  width: 100%;
  height: 100%;
}
/*top*/
.cont-adnsap-home-emp .top-b {
  /* background-color: rgb(206, 126, 170); */
  height: 270px;
}
.card-info-adnsap-home-emp {
  /* background-color: blueviolet; */
  width: 100%;
  height: 270px;
  padding: 0px 50px;
  padding-top: 20px;
  display: flex;
}
.card-info-adnsap-home-emp .left-b {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-info-adnsap-home-emp .left-b .p1 {
  color: #2462d5;
  font-size: 14px;
  font-weight: 500;
}
.card-info-adnsap-home-emp .left-b .p2 {
  color: #2462d5;
  font-size: 36px;
  margin-top: 5px;
}
.card-info-adnsap-home-emp .left-b .p3 {
  color: var(--light-blue);
  font-size: 12px;
  margin-top: 5px;
}
.card-info-adnsap-home-emp .right-b {
  flex: 3.5;
  padding-left: 20px;
}

.icon-acordion-adn-home-emp {
  width: 20px !important;
  margin-right: 10px;
}

/*bottom*/
.cont-adnsap-home-emp .bottom-b {
  display: flex;
  justify-content: center;
}
