.cont-SwipeableViews {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.sub-cont-SwipeableViews-active-two {
  width: 80px;
  height: 80px;
  background: var(--degradado-blue);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 0 6px;
  transition: 0.5s all ease-in-out;
  transform: scale(1.1);
  overflow: hidden;
}
.sub-cont-SwipeableViews-two {
  width: 80px;
  height: 80px;
  background: var(--degradado-blue);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 0 6px;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
}

.sub-cont-SwipeableViews p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.sub-cont-SwipeableViews-active p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1279px) and (max-width: 1619px) {
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
}

/* Smartphones in landscape mode */

@media only screen and (min-width: 600px) and (max-width: 959px) {
}

/* Smartphones in portrait mode  */

@media only screen and (max-width: 599px) {
  .sub-cont-SwipeableViews-active-two {
    width: 60px;
    height: 60px;
  }
  .sub-cont-SwipeableViews-two {
    width: 60px;
    height: 60px;
  }
}
