.three-add-emp-admin {
  background-color: white;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  position: relative;
}
.three-add-emp-admin .bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}
