.cont-card-job {
  background-color: var(--white);
  width: 100%;
  height: 60px;
  border-radius: 5px;
  min-width: 750px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  cursor: pointer;
}

.cont-card-job p {
  margin: 0;
}

.sub-div-cardjob-1 {
  /* background-color: royalblue; */
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.sub-div-cardjob-1 .img-job-of-table-home {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.img-card-job {
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  background-size: cover;
}
.sub-div-cardjob-2 {
  /* background-color: rgb(65, 225, 113); */
  flex: 1.2;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  justify-content: center;
  padding: 5px;
  flex-direction: column;
}
.sub-div-cardjob-2 p:nth-child(1) {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: var(--blue-primary);
}
.sub-div-cardjob-2 p:nth-child(2) {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: var(--gray-text);
}
.sub-div-cardjob-3 {
  /* background-color: rgb(129, 68, 27); */
  flex: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.sub-div-cardjob-3 p {
  font-size: 11px;
  color: var(--gray-text);
}
.sub-div-cardjob-4 {
  /* background-color: rgb(11, 141, 80); */
  flex: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}
.sub-div-cardjob-4 p:nth-child(1) {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-text);
}
.sub-div-cardjob-4 p:nth-child(2) {
  font-size: 11px;
  color: var(--gray-text);
}
.sub-div-cardjob-5 {
  /* background-color: rgb(225, 65, 118); */
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}
.sub-div-cardjob-5 p:nth-child(1) {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-text);
}
.sub-div-cardjob-5 p:nth-child(2) {
  font-size: 11px;
  color: var(--gray-text);
}
.sub-div-cardjob-6 {
  /* background-color: rgb(70, 13, 13); */
  flex: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}
.sub-div-cardjob-6 p:nth-child(1) {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-text);
}
.sub-div-cardjob-6 p:nth-child(2) {
  font-size: 11px;
  color: var(--gray-text);
}
.sub-div-cardjob-7 {
  /* background-color: rgb(32, 121, 87); */
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3px;
}
.sub-div-cardjob-7 p:nth-child(1) {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-text);
}
.sub-div-cardjob-7 p:nth-child(2) {
  font-size: 11px;
  color: var(--gray-text);
}

/* Smartphones in landscape mode */

@media only screen and (min-width: 600px) and (max-width: 959px) {
}

/* Smartphones in portrait mode  */

@media only screen and (max-width: 599px) {
}

@media only screen and (max-width: 500px) {
}

.cont-card-job-mini {
  background-color: var(--white);
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}
.cont-card-job-mini p {
  margin: 0;
}
