.container-home-empresas {
  padding-left: 15px;
  min-height: 100vh;
}



.sub-conteiner-home-emp {
  padding-top: 75px;
  padding-left: 10px;
  height: 100vh;
  padding-right: 10px;
  /* max-width: 1500px; */
}
.cont-header-home-emp {
  padding: 5px;
  height: 10%;
}
.cont-card-perfil-home-emp {
  height: 20%;
  padding: 5px;
}
.cont-cards-home-emp {
  height: 18%;
}
.cont-table-home-emp {
  height: 52%;
  padding: 5px;
  padding-bottom: 10px;
}
.cont-card-left-home-emp {
  padding: 5px;
  padding-bottom: 10px;
  height: 52%;
}
