.adn-form-avisos-emp {
  /* background-color: lightgoldenrodyellow; */
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 10px;
  margin-top: 10px;
  position: relative;
}

.stepper-submod-form-emp {
  /* background-color: lightcoral; */
  margin-top: 30px;
}
.cont-submod-avisos-emp {
  background: var(--degradado-blue);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.cont-submod-avisos-emp p {
  margin: 0;
}
.cont-submod-avisos-emp-inact {
  margin: 0;
  background: var(--degradado-blue);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  max-width: 60px;
}
.cont-submod-avisos-emp-inact p {
  margin: 0;
  white-space: nowrap;
}
.cont-SwipeableViews-emp {
  display: flex;
  justify-content: space-around;
}

.name-submod-large-aviso-emp {
  /* Starting position */
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  /* Apply animation to this element */
  -moz-animation: scroll-left 5s linear infinite;
  -webkit-animation: scroll-left 5s linear infinite;
  animation: scroll-left 5s linear infinite;
}

.stepper-submod-form-emp .p2 {
  text-align: center;
  color: var(--gray-text);
}

.cont-loading-adn-emp{
  /* background-color: royalblue; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
}
