.card-ofertas-laborales {
  background-color: var(--white);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  min-width: 1150px;
  border: 1px solid #ced1e9;
  border-radius: 5px;
}

.top-card-ofertas-laborales {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ced1e9;
}

/*item-1*/
.top-card-ofertas-laborales .item-1 div {
  width: 60px;
  height: 60px;
  border: 1px solid #dbdbdb;
  background-color: #f5f5f5;
  border-radius: 50%;
  overflow: hidden;
}
.top-card-ofertas-laborales .item-1 {
  padding: 0 20px;
}
.logo-emp-of img {
  width: 60px;
  height: 60px;
  background-size: cover;
}
/*item-2*/
.top-card-ofertas-laborales .item-2 {
  min-width: 250px;
  max-width: 250px;
  overflow: hidden;
  /* background-color: saddlebrown; */
  /* padding-left: 20px; */
}
.top-card-ofertas-laborales .item-2 h1 {
  margin: 0;
  color: var(--blue-primary);
  font-size: 22px;
  white-space: nowrap;
  font-weight: 500;
  /* overflow: hidden; */
  /* background-color: khaki; */
}
.top-card-ofertas-laborales .item-2 p:nth-child(2) {
  margin: 0;
  /* margin-top: 10px; */
  
  color: var(--gray-text);
}
.top-card-ofertas-laborales .item-2 p:nth-child(3) {
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
  color: var(--blue-primary);
}
.top-card-ofertas-laborales .item-2 p:nth-child(4) {
  margin: 0;

  font-size: 14px;
  color: var(--blue-primary);
}

.top-card-ofertas-laborales .item-2 div {
  background-color: #39cbba;
  display: inline-block;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
}
.top-card-ofertas-laborales .item-2 div p {
  margin: 5px 10px;
  font-size: 14px;
  color: white;
}
/*item-3*/
.icon-card-ofertas-laborales {
  color: var(--blue-primary);
}
.top-card-ofertas-laborales .item-3 {
  min-width: 150px;
}
.top-card-ofertas-laborales .item-3 div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.top-card-ofertas-laborales .item-3 div:nth-child(1) {
  margin-top: inherit;
}
.top-card-ofertas-laborales .item-3 div p {
  margin: 0;
  margin-left: 10px;
  font-size: 12px;
  color: var(--gray-text);
}
/*item-4*/
.top-card-ofertas-laborales .item-4 {
  min-width: 150px;
}

.top-card-ofertas-laborales .item-4 div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.top-card-ofertas-laborales .item-4 div:nth-child(1) {
  margin-top: inherit;
}
.top-card-ofertas-laborales .item-4 div p {
  margin: 0;
  margin-left: 10px;
  font-size: 12px;
  color: var(--gray-text);
}

/*item-5*/
.top-card-ofertas-laborales .item-5 {
  min-width: 250px;
}
.top-card-ofertas-laborales .item-5 h5 {
  color: var(--blue-primary);
  margin: 0;
}
.modulos-card-ofertas-laborales {
  display: flex;
  margin-top: 20px;
  /* background-color: royalblue; */
  max-width: 170px;
  overflow: auto;
  padding-bottom: 5px;
}
.name-submod-large-card-ol {
  /* Starting position */
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);

  /* Apply animation to this element */
  -moz-animation: scroll-left 7s linear infinite;
  -webkit-animation: scroll-left 7s linear infinite;
  animation: scroll-left 7s linear infinite;
}
.modulo-activo-ol {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 3px;
  background: var(--degradado-blue);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
}
.modulo-activo-ol p {
  font-size: 12px;
}
.modulo-inactivo-ol {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 3px;
  background: var(--degradado-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease-in-out;
  overflow: hidden;
}
.modulo-inactivo-ol p {
  font-size: 12px;
}
.submodulos-card-ofertas-laborales {
  display: flex;
  /* margin-top: 10px; */
  flex-wrap: wrap;
  max-width: 170px;
  overflow: auto;
  max-height: 45px;
}
/*item-6*/
.top-card-ofertas-laborales .item-6 {
  font-size: 12px;
  color: var(--gray-text);
  display: flex;
  padding: 0 10px 10px 0;

  flex: 1;
}
.top-card-ofertas-laborales .item-6 div {
  background-color: #f8f8fb;
  max-width: 550px;
  border-radius: 5px;
  flex: 1;
}

.top-card-ofertas-laborales .item-6 p {
  margin: 10px;
}

/*Bottom*/
.bottom-card-ofertas-laborales {
  display: flex;
  padding: 10px 0;
  position: relative;
}
/*Item-1*/
.bottom-card-ofertas-laborales .item-1 {
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.bottom-card-ofertas-laborales .item-1 p {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--gray-text);
  font-size: 12px;
}

/*item-2*/
.bottom-card-ofertas-laborales .item-2 {
  display: flex;
  align-items: center;
  padding-left: 113px;
}
.bottom-card-ofertas-laborales .item-2 p {
  margin: 0;
  margin-left: 10px;
  color: var(--gray-text);
  font-size: 14px;
}

/*item-3*/

.bottom-card-ofertas-laborales .item-3 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  justify-content: space-between;
  /* background-color: lawngreen; */
}
.bottom-card-ofertas-laborales .item-3 p {
  margin: 0;
  color: var(--blue-primary);
  font-weight: 500;
  font-size: 20px;
}

.btn-postular-ofertas-laborales {
  background-color: var(--blue-primary) !important;
  position: absolute !important;
  right: 10px;
  bottom: 6px;
  padding: 5px 70px !important;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-cancelar-postular-ofertas-laborales {
  background-color: var(--light-blue) !important;
  position: absolute !important;
  right: 10px;
  bottom: 6px;
  padding: 5px 33px !important;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-cancelar-postular-ofertas-laborales p {
  color: white !important;
  margin: 0 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}
.btn-postular-ofertas-laborales p {
  color: white !important;
  margin: 0 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}
.loader-btn-postular {
  position: absolute;
  right: 10px;
  top: 5px;
}
/*AVISO ELIMINADO*/
.cont-aviso-eliminado-postulacion {
  position: relative;
  background-color: var(--white);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  min-width: 1150px;
  border: 1px solid #ced1e9;
  border-radius: 5px;
  height: 200px;
  display: flex;
}

.cont-aviso-eliminado-postulacion .item-2 {
  /* background-color: blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-right: 150px; */
}
.cont-aviso-eliminado-postulacion .item-2 p {
  margin: 0;
}

.cont-aviso-eliminado-postulacion .item-2 p:nth-child(1) {
  color: var(--blue-primary);
  font-size: 28px;
  font-weight: 600;
}
.cont-aviso-eliminado-postulacion .item-2 p:nth-child(2) {
  color: var(--gray-text);
  font-size: 18px;
}
.cont-aviso-eliminado-postulacion .item-2 p:nth-child(3) {
  color: var(--gray-text);
  font-size: 14px;
}
